# Google Sheets URL for leaders data (optional)
# If set, this will be pre-filled in the Google Sheets URL field
MAHOYAKU_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit

# Browser path (optional, defaults to /usr/bin/chromium)
# MAHOYAKU_BROWSER_PATH=/usr/bin/brave-browser
